<html>
	<header>
    <title>Matrix</title>
    <meta name="google-signin-client_id" content="<%= googleCredential.publicKey %>">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="/css/office.css" />
	</header>
	<body>
  <nav class="navbar navbar-custom">
    <a class="navbar-brand" href="javascript:void(0)"><img src="/images/logo_min.svg"></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span id="userName" class="userName"></span>
        <button id="btnLogout" class="logoutBtn" type="submit" logout > Logout</button>
      </li>
    </ul>
    </nav>
    </br>
    <div class="container-fluid">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 95%;" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="meet" class="modal-body">
             
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <% for(var i=0; i<roomsDetail.length; i++) {%>
          <div style="padding: 15px;text-align: center">
            <div class="card room" id="room_card-<%= roomsDetail[i].id %>">
              <div class="card-reader" >
                <div id="room_card_title-<%= roomsDetail[i].id %>"  class="room-title float-left">
                  <span class="room-title-text"><%= roomsDetail[i].name%></span>
                </div>
              </div>
              
              <div class="card-body room-body" >
                  <div class="container">
                      <div class="row thumbnails" id="<%= roomsDetail[i].id%>">
                      </div>
                  </div>               
              </div>
              <div class="card-footer text-muted room-footer ">
                  <a id="room_btn_enter-<%= roomsDetail[i].id %>" href="#<%= roomsDetail[i].id%>" class="card-link btn-enter-in-room float-left" external-meet-url="<%=   [i].externalMeetUrl%>" enter-room room-name="<%= roomsDetail[i].name%>" room-disable-meeting="<%= roomsDetail[i].disableMeeting %>" room-id="<%= roomsDetail[i].id%>" >Enter this room</a>
              </div>
            </div>
          </div>
  
        <% } %>
      </div>

      <ul id="getUserMenu" class="dropdown-menu" role="menu" style="display:none" >
          <li class="dropdown-item"><a tabindex="-1" href="#">Get</a></li>
      </ul>


    </div>  
    <script src='https://meet.jit.si/external_api.js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="./plugins/context-menu/context-menu.js"></script>    
		<script src="./js/profile.web.js"></script>
    <script src="./js/office.web.js"></script>    
	</body>
</html>
