<html>
<head>
  <title>Matrix</title>
  <meta name="google-signin-client_id" content="<%= googleCredential.publicKey %>">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <link rel="stylesheet" href="<%= assets.url('login.css') %>">
  <%- include('favicons'); %>
</head>
<body>
  <div id="application"></div>
  <input type="hidden" id="isAuthenticated" value="<%= isAuthenticated %>" />
  <input type="hidden" id="error" value="<%= error %>" />
  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="<%= assets.url('login.js') %>"></script>
</body>
</html>
