<html>
<head>
  <title>Matrix</title>
  <meta name="google-signin-client_id" content="<%= googleCredential.publicKey %>">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <link rel="stylesheet" href="<%= assets.url('office.css') %>">
  <%- include('favicons'); %>
  <style type="text/css">
    <%- CUSTOM_STYLE %>
  </style>
</head>
<body>
  <%- include('header'); %>
  <div class="matrix-content container-fluid">
    <!-- Modal -->
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="meetModal" tabindex="-1" role="dialog" aria-labelledby="meetModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 95%;" >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
               <div id="meet" class="meet-frame">
                 
                  <iframe allow="camera; microphone" src="" name="externalMeeting" id="externalMeeting" allowfullscreen="true" style="height: 100%; width: 100%; border: 0px;display: none;"></iframe>    
               </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <% for(var i=0; i<roomsDetail.length; i++) {%>
      <div style="padding: 15px;text-align: center">
        <div class="card room" id="room_card-<%= roomsDetail[i].id %>">
          <div class="card-reader" >
            <div id="room_card_title-<%= roomsDetail[i].id %>"  class="room-title float-left">
              <span class="room-title-text"><%= roomsDetail[i].name%></span>
            </div>
          </div>

          <div class="card-body room-body" >
            <div class="container">
              <div class="row thumbnails" id="<%= roomsDetail[i].id%>">
              </div>
            </div>
          </div>
          <div class="card-footer text-muted room-footer ">
            <a id="room_btn_enter-<%= roomsDetail[i].id %>" href="#<%= roomsDetail[i].id%>" class="card-link btn-enter-in-room float-left" external-meet-url="<%=roomsDetail[i].externalMeetUrl%>" enter-room room-name="<%= roomsDetail[i].name%>" room-disable-meeting="<%= roomsDetail[i].disableMeeting %>" room-id="<%= roomsDetail[i].id%>" >Enter this room</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <ul id="getUserMenu" class="dropdown-menu" role="menu" style="display:none" >
      <li class="dropdown-item"><a tabindex="-1" href="#">Get</a></li>
    </ul>


  </div>
  <script src='https://meet.jit.si/external_api.js'></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="<%= assets.url('office.js') %>"></script>
</body>
</html>
